  .body {
  margin:0;
  background-color:white;
  font-family:"avenir","futura", sans-serif;
  }
    .container .film .videoruta .videon {
  width:50%;
  height:340px;
  float:left;
  }
  .container .film .textruta {
  margin-left: 51%;
  }
  .container .film {
    width: 86%;
    margin-top:51px;
    margin-left: 7%;
    margin-right: 7%;
    position:relative;
    border: black 1px solid;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .container .film .textruta h2 {
      font-family: "avenir","futura", sans-serif;
    font-size: 3em;
    margin-bottom: -10px;
    margin-left: -3px;
  }
  .container .film .textruta p {
      font-family: "avenir","futura", sans-serif;
    margin-top: 0px;
    width: 592px;
  }
  .container .film .textruta button {
    width: 200px;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 180px;
    margin-top: 90px;
    background: transparent;
    border: black 2px solid;
    cursor:pointer;
  }

.container .film .avsnitt .gallery {
   margin-left: 10px;
    float: left;
    width: 150px;
    height: 150px;
}

.container .film .avsnitt .gallery:hover {
      border: 4px solid black;
  border-radius: 10px 10px 10px 10px;
}

.container .film .avsnitt .gallery img {
  width: 100%;
  height: auto;
 z-index:20;
  border-radius: 10px 10px 10px 10px;
}

.container .film .avsnitt .gallery div.desc {
  text-align: center;
    z-index: 22;
    margin-top: -50px;
 font-family:"copperplate", "calibri", sans-serif;
}
  .container .film .avsnitt {
  
  }


#bg-linje {
  width: 100%;
    z-index: 0;
    margin-top: -20px;
    height: 250px;
    position: absolute;
  }
