  .body {
  background-color:white;
  font-family:"avenir","futura", sans-serif;
  }
    .container .film .videoruta .videon {
  width:50%;
  height:340px;
  float:left;
  }
  .container .film .textruta {
  margin-left: 51%;
  }
  .container .film {
    width: 86%;
    margin-top:51px;
    margin-left: 7%;
    margin-right: 7%;
    position:relative;
    border: black 1px solid;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .container .film .textruta h2 {
      font-family: "avenir","futura", sans-serif;
    font-size: 3em;
    margin-bottom: -10px;
    margin-left: -3px;
  }
  .container .film .textruta p {
      font-family: "avenir","futura", sans-serif;
    margin-top: 0px;
    width: 592px;
  }
  .container .film .textruta button {
    width: 200px;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 180px;
    margin-top: 90px;
    background: transparent;
    border: black 2px solid;
    cursor:pointer;
  }
