.navbar {
    background: black;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 25px;
    overflow: hidden;
    }
    .navbar .navlänk {
    background: black;
    padding: 10px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0px;
    }
    .navbar #navhem {
    width:35px;
    height:35px;
    }
    .navbar a#navhem img {
    width: inherit;
    height: inherit;
    position: relative;
    top: -8px;
    left: 5px;
    }
