/* GENERAL */
* {
    margin:0;
    padding:0;
    font-family:avenir, sans-serif;
}
a {
  color: blue;
}
ul {
  list-style: none;
}

/* PROJECT SECTION */
.game {
 margin:30px 7.5% 20px 7.5%;
 width:85%;
 padding:15px;
 background:white;
 position:relative;
 border: 1px solid black;
}
section .logo {
  width:10%;
  height:auto;
  min-width:40px;
  min-height:40px;
  
}
.left {
  width:50%;
}
.left a {
  text-decoration: none;
}
.left a:visited {
  color: blue;
}
.left a:hover {
  text-decoration: underline;
}
.right {
  width: 45%;
  right: 0px;
  position: absolute;
  top: 0px;
  padding: 15px;
}
.right img {
  right: 0px;
  width: 100%;
  margin-right: 5%;
  position: absolute;
  /* border: 1px solid black;*/
}
.gameName {
  position: absolute;
  top: 15px;
  left: 12%;
}
h1#title {
  cursor: pointer;
}
ul li span {
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .gameName {
    position: static;
    text-align: center;
  }
  section.game {
    margin: 30px 1% 20px 1%;
    width: 90%;
  }
  .logo {
    display: none;
  }
  article.left {
    width: 100%;
  }
  figure.right {
    position: static;
    width: 100%;
    padding: 10px 0;
  }
  figure.right img {
    position: static;
  }
}

/* NAVBAR */
nav {
    width: 20rem;
    min-width:150px;
    margin:auto;
    border: 1px solid black;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  nav ul li a {
    text-decoration:none;
    color: black;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
  }
  nav ul li {
    text-align: center;
    width: 60px;
    height: 30px;
    padding: 10px;
    padding-top:15px;
    border: 1px solid black;
    margin: 5px;
  }
  nav ul li#active {
    background-color: red;
  }

  header#about {
    border: 1px black solid;
    padding: 25px;
    margin: 50px;
    text-align: center;
  }
  /*header#about img {
    float: right;
  }*/

  /* LINKS */
  div#media ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
  div#media ul li a {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  div#media ul li a:hover {
    text-decoration: underline;
  }
  div#media ul li a {
    text-decoration: none;
  }
  
  /* FOOTER */
  footer {
    margin-top: 50px; 
    bottom: 0;
    width: 100%;
    text-align: center;
  }